.footer-container{
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 64px;
    padding-bottom: 8px;
    margin: 0 auto;
}
.footer-top{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.footer-list{
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
}
.footerlist-item{
    margin: 0;
    padding: 0; 
    margin-left: 130px;
}
.footer-container p{
    margin: 0;
    padding: 0; 
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.social img{
    margin-right: 26px;
}
.hr{
    width: 1156px;
    height: 1px;
    background: #26292D;
    margin-bottom: 16px;
}
